.todos {
  color: #b83f45;
  text-align: center;
  font-family: 14px Helvetica Neue, Helvetica, Arial, sans-serif;
  position: center;
  font-size: xxx-large;
}
.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #811a1a;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font: size 100px;
}

.App {
  width: 100%;
  max-width: 550px;
  margin: 50px auto;
  padding: 15px 15px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(114, 105, 105, 0.1);
}

.head {
  width: 100%;
  padding: 16px;
  border: 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.4;
  outline: none;
  box-sizing: border-box;
  border-radius: 3px 3px 0 0;
}

.body {
  padding: 10px 0;
  text-align: left;
}

.check {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.check label {
  flex: 1;
  word-break: break-all;
}

.check button {
  border: none;
  color: #7c1919;
  font-size: 16px;
  cursor: pointer;
}

.check button:hover {
  background: #c2a1a1;
}

/* /* .btn {
  /* display: inline-block;
  padding: 10px;
  border: none;
  border-radius: none;
  margin: 0 2px;
  font-size: 14px;
  cursor: pointer;
} */
/* */ */



/* .btn:hover {
   border-color: #880404;
   border-radius: 10px;
} */


.btn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  border: 1px solid #ccc;
}
.btn {
  margin: 5px 14px;
  padding: 10px;
  text-align: center;
}

.btn:hover {
  border-color: #880404;
}

.btn.left {
  border-color: white;
}

/* Todo.css */
.background{
  background-image: url('/home/ajith/todo/src/components/todo/todoimg1.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat:no-repeat; 
  min-height: 80vh; 
  padding: 20px; }




